modelscope==1.9.5
transformers==4.35.2
streamlit==1.24.0
sentencepiece==0.1.99
accelerate==0.24.1
langchain==0.0.292
transformers==4.35.2
gradio==4.4.0
chromadb==0.4.15
sentence-transformers==2.2.2
unstructured==0.10.30
markdown==3.3.7
pypdf
jieba 
rouge_chinese 
pandas
openai
python-docx
python-dotenv
tensorrt>=8.6.1
polygraphy>=0.47.1
onnx>=1.14.0
